
.logo-text{
  color:rgb(46, 170, 219);
}
a.dropdown-item{
  color: rgb(15 151 191);
}
.dropdown-item:hover:hover{
  background-color: transparent;
  font-weight: 500;
  
}
.dropdown-menu.show{
  border-radius: 20px;
  padding: 0px;
}
.navbar-light .navbar-nav a.nav-link {
  color: rgb(15 151 191);
}

.dropdown-divider {
  margin: 0px !important;
}
.slider-image{
  opacity: 0.6;
}
.product-box{
  align-items: center;
}
.product-text{
  color:rgb(95, 158, 160);
}
.sr-only{
  color:black;
}
a.carousel-control-prev{
  color: black !important;
}
.cart-item-row{
  background-color: cadetblue;
  color: #fff;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
a.cart-item-row{
  text-decoration: none;
}
a.cart-item-row:hover{
  color:#000;
  font-weight: 500;
}

.cart-item-row img{
  width:120px;
}
.remove-btn{
  font-size: 25px;
}
.remove-btn:hover{
   color: crimson;
   
}

.cart-total{
  background-color: rgb(95, 158, 160);
  color:#fff;
}